.htmls {
  display: flex;
  justify-content: center; 
  justify-content: space-around;
}body {
  margin-left: 0%;
  margin-top: 0%;
  margin-right: 0%;
  background-color:#EBEBDF;
  font-family:Arial, Helvetica, sans-serif;
}
.top {
  color:#EBEBDF;
  background-color:#191265;
  text-align: center;
  padding: 14px 16px;
  font-size:large;
}
a {
  color:#EBEBDF;
}
.img1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  max-width: 50%;
  max-height: 50%;
}
.goal {
  text-align: center;
  font-family:Arial, Helvetica, sans-serif;
  font-size:large;
  color:#EBEBDF;
  background-color:#191265;
}

.teams {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
}
