.htmls {
  display: inline;
}
.htmls a{
color:#EBEBDF;
padding-left: 5%;
padding-right: 5%;
}
body {
margin: 0%;
background-color:#EBEBDF;
font-family: Arial, Helvetica, sans-serif;
}
.top {
  color:#EBEBDF;
  background-color:#191265;
  text-align: center;
  font-size:large; 
}
.img1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  width: 50%;
  height: 50%;
  border-radius: 5%;
}
.goal {
  text-align: center;
  font-family:Arial, Helvetica, sans-serif;
  font-size:large;
  color:#EBEBDF;
  background-color:#191265;
}
.teams {
  color:#191265;
  text-align: center;
}
.coaches {
color:#03396c;
text-align: center;
}
.Oinfo {
text-align: center;
}
.Oinfo a{
  color:#03396c;
}
.inProgress{
  text-align: center;
  color:#ccac00;
}
.summerpractice {
  text-align: center;
  color:#03396c;
}
.month {
  display: flex;
  justify-content: space-around;
}
.logo {
  display: flex;
  justify-content:flex-start;
}
.logo {
    position: absolute;
    top: 1px;
    left: 1px;
    height: 90px;
    width: 90px;
}
@media (max-width:1180){
.htmls {
    display:flex;
    justify-content: center;
  }
  .logo {
    position: absolute;
  top: 15px;
  left: 15px;
  height: 65px;
  width: 65px;
  }
}
